<div class="back-ground-image-div">
  <div class='row name-text-row'>
    <div class='col-lg-6 col-md-6 col-sm-6 main-div'>
      <div class='get-every-solution'>
        Get Every Singal Solution!
      </div>
      <div class='get-every-solution1'>
        I'm Web Developer <br> Waseem Akram
      </div>
      <div class='get-every-solution2'>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC, 
        making it over 2000 years old. Richard McClintock, a Latin</p>
      </div>
        <%= link_to 'Learn More', '#', class: 'btn btn-sea-green learn-more mt-2', remote: true %>
        <%= link_to 'Hire Me', '#', class: 'btn btn-sea-green hire-me mt-2', remote: true %>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-6'>
      <%= image_tag "waseem1.png" %>
    </div>
  </div>
</div>
<div class='empty-div'></div>
<div class="row" style="margin: auto;">
  <div class='col-lg-6 text-center' style="padding-top: 40px;">
    <div class='about-text'>About Me</div>
    <p class="profile-text">I'm a Software Engineer who graduated from PUCIT.
      Currently, I am working as a Full Stack Developer at Tkxel. I
      am a Solution-Oriented Developer, lifelong learner, and
      Adventurer with a professional background having
      Computer Science Degree. I enjoy development because of
      the satisfaction I get from overcoming challenges. I have a
      great skill set in Ruby On Rails. I have strong communication
      and leadership capabilities as I have led multiple projects. I
      also have other skills like JS, Jquery, C++, Ruby, Node, MVC,
      etc. I have a problem-solving mindset and a drive to see
      things through to completion. I am looking for a position
      that offers both personal and professional growth. I am
      committed to developing innovative and creative software
      solutions. Able to perform complete software development
      life cycle activates, can synchronize, and work efficiently in a
      team. I am motivated by the opportunity to be part of a
      System that helps people solve their regular tasks and make
      their lives easier.
    </p>
  </div>
  <div class='col-lg-5 text-left' style="padding-top: 4%;padding-left: 5%;">
      <div><%= image_tag "email", {:style => "width:35px;height:35px;"} %><span style="padding-left: 3%;font-size: 18px;">itss.waseem15@gmail.com</span></div><br>
      <div><%= image_tag "phone", {:style => "width:35px;height:35px;"} %><span style="padding-left: 3%;font-size: 18px;">+92-3034063608</span></div><br>
      <div><%= image_tag "github", {:style => "width:35px;height:35px;"} %><span style="padding-left: 3%;font-size: 18px;"><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></span></div><br>
      <div><%= image_tag "facebook", {:style => "width:35px;height:35px;"} %><span style="padding-left: 3%;font-size: 18px;"><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></span></div><br>
      <div><%= image_tag "location", {:style => "width:35px;height:35px;"} %><span style="padding-left: 3%;font-size: 18px;">E26 F Block Main Bulywad Ghazi Road, 54840 Lahore, Pakistan</span></div><br>
  </div>
</div>
<div class='expertise-section'>
  <div class='my-expertise'>My Expertise</div>
  <div class='row' style="margin: auto;padding: 10px;">
    <div class='col-lg-1'></div>
    <div class='col-lg-4 text-center'> 
      <div class='expertise-heading'> Heading 1 </div>
      <div><p>Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, 
          making it over 2000 years old. Richard McClintock, a Latin</p>
      </div>
    </div>
    <div class='col-lg-1'></div>
    <div class='col-lg-4 text-center'> 
      <div class='expertise-heading'> Heading 2 </div>
      <div><p>Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, 
          making it over 2000 years old. Richard McClintock, a Latin</p>
      </div>
    </div>
    <div class='col-lg-1'></div>
  </div>
  <div class='row' style="margin: auto;padding: 10px;">
    <div class='col-lg-1'></div>
    <div class='col-lg-4 text-center'> 
      <div class='expertise-heading'> Heading 1 </div>
      <div><p>Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, 
          making it over 2000 years old. Richard McClintock, a Latin</p>
      </div>
    </div>
    <div class='col-lg-1'></div>
    <div class='col-lg-4 text-center'> 
      <div class='expertise-heading'> Heading 2 </div>
      <div><p>Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, 
          making it over 2000 years old. Richard McClintock, a Latin</p>
      </div>
    </div>
    <div class='col-lg-1'></div>
  </div>
</div>


<%= javascript_include_tag 'home' %>
<%=stylesheet_link_tag "home"%>
